/* Style sheet for Colmar Academy */
body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  font-size: 16px;
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;;
  height: 4rem;
  width: 100%;
  }

/* left side of header */
.left{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
header img{
  margin-left: 1.5rem;
  width: 3rem;
}
header h1{
  margin-left: 0;
  height: 2rem;
}
header .academy{
  color: blue;
  font-weight: bold;
}

/*right side of header*/
.right{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
header ul{

}
header li{
  margin-left: 0.5rem;
  margin-right:0.5rem;
  display: inline;
}
/* END OF HEADER */

/* LEARN Banner - Banner1 */
.banner1{
  display: flex;
  width: 100%;
  height: auto;
  background-color: gray;
}

.image{
  display: flex;
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.image img{
  width: 100%;
  height: 100%;
}

.learn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 40%;
}
.learn h1,{
  font-size: 2rem;
  font-weight: bold;
  color: red;
}
.learn p{
  font-style: italic;
  color: purple;
}
.learn .button{
  display: flex;
  width: inherit;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
.learn h2{
  color: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*End of Banner1*/

/* Information Banner - Banner2*/

.banner2{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  background-color: Gainsboro;
}

/* banner 2 left side */

.practice{
  display: flex;
  width: 60%;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.column{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.infoimage img{
  width: 100%;
  height: 100%;
}

.practicetext{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.practicetext h1{
  font-size: 2rem;
  font-weight: bold;
  color: red;
  margin-bottom: 1.5rem;
}
.practicetext p{
  font-size: 1rem;
  color: green;
  font-style: italic;
  margin-bottom: 2rem;
}

.practicetext h4{
  font-size: 0.75rem;
  color: black;
}

/* banner2 right side */

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.orientation, .campus, .lecture{
  display: flex;
  width: 100%;
  height: auto;
  border: thin solid gray;
}

.rightimage{
  width: 35%;
  height: 100%;
}

.rightimage img{
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  }

.orientation .column, .campus .column, .lecture .column{
  width: 65%;
  margin: 2rem 1.5rem;
}

/*banner 3*/

.banner3{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: lightgray;
}

.heading{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.heading h1{
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: purple;
  text-align: center;
}

.inner3{
  display: inline-flex;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  margin: 2rem 6rem;
}
/* banner3 columns*/

.inner3 .column{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  height: 9rem;
}

.left3, .middle3, .right3{
  display: flex;
  flex-direction: column;
}

.left3{
  margin-right: 1rem;
}

.middle3{
  margin-right: 1rem;
  margin-left: 1rem;
}

.right3{
  margin-left: 1rem;
}

.lefttop3, .leftbottom3, .middletop3, .middlebottom3, .righttop3, .rightbottom3{
  background-color: white;
  margin-bottom: 2rem;
}

.inner3 img{
  width: 100%;
  height: auto;
}

.inner3 h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inner3 h2{
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.inner3 p{
  line-height: 1.5;
}

/* banner 4  */

.banner4{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: Gainsboro;
}

/* heading styled in banner3 section */

.inner4{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}

/*banner4 left side*/

.left4{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}

.left4 video{
  width: 100%;
  height: auto;
}

.left4 h1{
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/* banner4 right side*/

.right4{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}

.right4 h1{
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
}

.right4 img{
  width: 35%;
  height: 100%;
  margin: 1rem 1rem;
}

.right4 .column{
  width: 65%;
  height: auto;
  justify-content: center;
}

/*banner4 right top */

.righttop4{
  display: flex;
  width: 100%;
  height: auto;
  background-color: gray;
}

/*banner4 right bottom */

.rightbottom4{
  display: flex;
  width: 100%;
  height: auto;
}
