/* Style sheet for Colmar Academy */
body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  font-size: 16px;
  border: thin solid red;
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;;
  height: 4rem;
  width: 100%;
  border: thin solid green;
}

/* left side of header */
.left{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
header img{
  margin-left: 1.5rem;
  width: 3rem;
  border: thin solid orange;
}
header h1{
  margin-left: 0;
  height: 2rem;
  border: thin solid purple;
}
header .academy{
  color: blue;
  font-weight: bold;
}

/*right side of header*/
.right{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  border: thin solid green;
}
header ul{

}
header li{
  margin-left: 0.5rem;
  margin-right:0.5rem;
  display: inline;
}
/* END OF HEADER */

/* LEARN Banner */
.learn{
  display: flex;
  background-color: gray;
  width: 100%;
  height: auto;
  border: thin solid orange;
}

.image{
  display: flex;
  width: 60%;
  height: auto;
}

.image img{
  width: 100%;
  height: auto;
  margin: 2rem 1.5rem;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 40%;
  border: thin solid purple;
}
.description h1{
  font-size: 2rem;
  font-weight: bold;
  color: red;
  border: thin solid green;
}
.description p{
  font-style: italic;
  color: purple;
  border: thin solid yellow;
}
.description .button{
  display: flex;
  width: inherit;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border: thin solid black;
}
.description h2{
  color: blue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
